<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center><h4>Welcome to the dd's calculator</h4>
    <form method="post" action="">
        <label >Email</label>
        <input type="email" name="email" required><br><br>
        <label >Password</label>
        <input type="password" name="p1" required><br><br>
        <input type="submit" value="Login">
        <a href="{{url_for('reg')}}">Register as a new user !</a>

    </form>
    </center>
</body>
</html>