<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutions</title>
</head>
<body>
    <center><u><b><h3>This is the page for providing all the solutions as per the documentation !</h3></b></u>
        <h4>Add : {{add}}</h4>
        <h4>Sub : {{sub}}</h4>
        <h4>Mul : {{mul}}</h4>
        <h4>Div : {{div}}</h4><br>
        <a href="/input"><input type="submit" value="Hit me to enter another value !"></a>
    </center>
</body>
</html>